	<% if user_signed_in?%>
				your logged in
				

			<% else %>     
<div class="hero-unit">
<h1>Welcome to one month rails</h1>
<p>You found the homepage for the
<%= link_to "One Month Rails", root_path, class:"brand" %>
</p>
<p>
	<%= link_to "sign up now", new_user_registration_path, class:"btn btn-primary btn-large"%>

  
</p>

</div>
   <% end %>
