<div class="hero-unit">
<h1>Welcome to one month rails</h1>
<p>You found the homepage for the
<%= link_to "One Month Rails", "http://onemonthrails.com"%>
</p>
<p>
	<%= link_to "sign up now", "#", class:"btn btn-primary btn-large"%>
	<%= link_to "sign up now", "#", class:"btn btn-success btn-mini disabled"%>
	<div class="btn-group">
  
</div>
</p>

</div>